<style>
.required:after {
  content:" *";
  color: red;
}
</style>

<h1>Home</h1>

  {% if error %}
    <h3 style="color: red;">There's an error with the form you submitted. Try again.</h3>
    <p style="color: red;">{{ error }}</p>
  {% endif %}

 <form  action="/dev/tweets" method="POST">
  <label class="required" for="eventType">Event</label><br><br>
  <input type="radio" id="wit" name="eventType" value="wit">
  <label for="wit">Women in Tech</label><br><br>
  <input type="radio" id="tn" name="eventType" value="tn">
  <label for="tn">Tech Nottingham</label><br><br>

  <label class="required" for="talkTitle">Talk Title:</label>
  <input type="text" id="talkTitle" size="100" name="talkTitle"><br><br>

  <label class="required" for="speakerName">Speaker name:</label>
  <input type="text" id="speakerName" size="100" name="speakerName"><br><br>

  <label class="required" for="shortLink">Short Link: (don't need the http://nott.tech/)</label>
  <input type="text" id="shortLink" size="100" name="shortLink"><br><br>

  <label for="speakerTwitterHandle">Speaker twitter handle: (no @ needed)</label>
  <input type="text" id="speakerTwitterHandle" size="100" name="speakerTwitterHandle"><br><br>

  <label for="speakerTitle">Speaker job title: (only required for alt text on marketing image)</label>
  <input type="text" id="speakerTitle" size="100" name="speakerTitle"><br><br>

  <label class="required" for="eventMonth">Event Month:</label>
  <select id="eventMonth" name="eventMonth">
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select></br><br>

  <input type="submit" value="Submit">
</form> 