<style>
.twitter-share-button {
  padding: 10px;
  border-radius: 3%;
  background: #1da1f2;
  color: white;
  font-weight:700;
  text-decoration:none;
  margin-bottom: 10px;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.twitter-link {
  margin-left:10px;
}

</style>

<h1>Tweets</h1>

<p><strong>Alt text:</strong> {{ altText }}</p>
<ul>
  <form  action="/post" method="POST">
    {% for tweet in tweets %}
      <div style="margin-top:10px; padding-bottom:20px; border-bottom:1px solid grey">
        <p>{{ loop.index }}. {{ tweet.publishDate }}</p>

        <div style="padding-left: 20px; border: 1px solid #1da1f2; border-radius: 1%">
          <p id="{{ loop.index }}tweetcontent">{{ tweet.tweet | striptags(true) | escape | nl2br }}</p>
        </div>

        {% if tweet.isTooLong %}
          <p style="color:red">Too long. {{ tweet.length }} characters.</p>
        {% else %}
          <p style="color:green">{{ tweet.length }} characters.</p>
        {% endif %}

        <button title="copy tweet and shortlink to clipboard" class="twitter-share-button" type="button" id="{{ loop.index }}-copy-button" onclick="copyText(event, '{{ loop.index }}tweetcontent', '{{ tweet.shortLink }}' )">Copy tweet</button>

        <a
            target="_blank"
            href="https://twitter.com/share?text={{ tweet.tweet | urlencode }}&url={{ tweet.shortLink }}"
            class="twitter-link"
            data-size="large"
            data-text="{{ tweet.tweet }}"
            data-show-count="false"
            data-lin="nott.tech/hello"
            >
            open in twitter
          </a>
      </div>
    {% else %}
      <li>This would display if the 'item' collection were empty</li>
    {% endfor %}
    <!-- it was a bit optimistic thinking I'd get this far... <input type="submit" value="Submit">-->
  </form>
</ul>

<script>
  function copyText(event, elemId, shortLink) {
    event.stopPropagation();
    var text = document.getElementById(elemId).innerText;
    navigator.clipboard.writeText(text + "\n" + shortLink);
  }
</script>